*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
 

  background-color: rgb(83, 89, 89);

  color: rgb(228, 220, 220);
}
.logo{
  text-align: center;
  padding: 1rem;
}
a{
  text-decoration: none;
  color: white;
  padding:1.5rem;
  font-size: 18px;
&.active{

  color: rgb(144, 144, 245);
  text-decoration: underline;
  
}
}


