*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
 

  background-color: rgb(157, 234, 236);

  color: black;
}
.logo{
  text-align: center;
  padding: 1rem;
}
a{
  text-decoration: none;
}

a:hoover{

  color: yellow;
}


